*.pyc
__pycache__/
env/
venv/
.venv/
*.egg-info/
build/
dist/
.ipynb_checkpoints/

db.sqlite3
/media/
/static/
local_settings.py
.env

*.iml
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

.DS_Store
Thumbs.db

*.log